<div class="container mt-5">
    <h2 class="text-center mb-4">Convertir números romanos a decimales</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <input type="text" [(ngModel)]="roman" maxlength="10" placeholder="Introduzca el número romano"
                    class="form-control" aria-label="Número romano" (input)="validateWriting($event)" />
                <button class="btn btn-primary" (click)="convertRomanToDecimal()" [disabled]="roman.length === 0">
                    Enviar
                </button>
            </div>
        </div>
    </div>

    <!-- Mostrar los números romanos en columnas de tres -->
    <div class="row" *ngIf="romanArray.length > 0">
        <ng-container *ngFor="let symbol of romanArray; let i = index">
            <!-- Iniciar nueva fila cada 3 elementos -->
            <div class="col-4 mb-3">
                <div class="card text-center shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Número Romano</h5>
                        <p class="card-text fw-bold">{{ symbol.roman | romanCorrection }}</p>
                        <hr />
                        <h6 class="card-subtitle text-muted">Valor Decimal</h6>
                        <p class="card-text">{{ symbol.decimal }}</p>
                    </div>
                </div>
            </div>

            <!-- Al final de cada 3 columnas, se termina la fila y comienza una nueva -->
            <div *ngIf="(i + 1) % 3 === 0" class="w-100"></div>
        </ng-container>
    </div>
</div>